ul{
    list-style: decimal;
    list-style-position: inside;
}
.header{
    text-align: center;
    font-weight: bold;
}
.definition{
    font-weight: bold;
}
.example{
    font-weight: bold;
}
.definition-text{
    font-weight: normal;
}
.example-text{
    font-weight: normal;
    background-color: yellow;
}

.list{
    margin: 0;
}
.fruits .list{
    list-style-type:georgian;
}

.flowers{
    margin-bottom: 1px;
}